.sidecart {
  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  a:hover {
    color: #f1f1f1;
  }

  .cart-header {
    height: 92.5px;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    box-shadow: #6c6d7df2 0px 0px 8px;
    padding: 0.5rem 1rem;
    position: sticky;
    top: 0;
    background-color: #fff;

    .your-cart {
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;
    }

    .close-cart-btn {
      position: absolute;
      right: 0;
      display: flex;
      margin-right: 0.75em;
    }
  }

  .cart_footer {
    height: 92.5px;
    position: sticky;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    box-shadow: #6c6d7df2 0px 0px 8px;
    background-color: #fff;
    flex-direction: column;

    .cart_total {
      display: flex;
      justify-content: space-between;
    }

    button {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 50%;
      color: #fff;
      background: black;
      border-radius: 2px;
    }
  }
}

// Modal
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 450px;
  height: 100%;
  transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

/*Right*/
.modal.right.fade .modal-dialog {
  right: -320px;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
  right: 0;
}
.modal-content {
  border-radius: 0;
  border: none;
}
.modal-header {
  border-bottom-color: #eeeeee;
  background-color: #fafafa;
}

@media only screen and (max-width: 991px) {
  .modal.right .modal-dialog,
  .modal.left .modal-dialog {
    width: 100%;
  }
}