$main-color: rgb(202, 86, 255);
$main-background-color: rgb(19, 35, 41);
$white-first: rgb(236, 237, 238);
$white-second: rgb(178, 184, 190);

.sidenav {
  position: fixed;
  width: 260px;
  max-width: 260px;
  height: 100vh;
  background-color: $main-background-color;

  &.collapse {
    width: 55px;
  }
}

.sidenav-header {
  padding: 1em;

  .main-logo {
    font-size: 2.8em;
    color: $main-color;

    &.collapse {
      font-size: 1.2em;
      display: block;
    }
  }

  .sidenav-header-name {
    &.collapse {
      display: none;
    }

    h1 {
      font-size: 1.8em;
      color: $white-first;
    }

    h2 {
      font-size: 1em;
      color: $white-second;
    }
  }
}

.sidenav-item,
.sidenav-item-last {
  width: 100%;
  height: 2.3em;
  padding: 1em;
  text-decoration: none;
  font-size: 1.2em;
  color: $white-second;

  &.active {
    border-left: 1px solid $main-color;
    color: $main-color;
  }

  &.collapse {
    display: none;
  }
}

.sidenav-item {
  &:hover {
    border-left: 1px solid $main-color;
    color: $main-color;
  }
}

.sidenav-item-last {
  height: 4.5em;
  border-top: 1px solid $white-second;

  button {
    background-color: inherit;
    color: inherit;
    border: none;
  }
}
