.header, .footer {
  background-color: #fff;
}

.content {
  padding: 1.5em;
  height: 100%;
  overflow: hidden;
}

.stepsContent {
  background-color: #fff;
  height: 100%;
  padding: 1em;
  overflow: auto;
}

.stepsAction {
  display: flex;
  justify-content: space-between;
}
